<template>
    <div class="full-window">
        <div>
            <div>
                {{errMsg}}
            </div>
            <div v-if="!err && !done">
                <div>
                    <h1>
                        {{ currentSentence }}
                    </h1>
                </div>
                <div>
                    <div class="btm-btns">
                        <center>
                        <div class="clearfix">
                            <div class="float-left">
                                <button class="btn btn-lg btn-danger" @click="mark(1)">Offensive</button>
                                <button class="btn btn-lg btn-success ml-3" @click="mark(-1)">Not Offensive</button>
                                <button class="btn btn-lg ml-3" @click="mark(0)">Not sure</button>
                            </div>
                            <div class="float-right">
                                <button class="btn btn-lg" @click="generate">Generate</button>
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
            </div>
            <div v-if="done">
                <h1>You are all done</h1>
                <button class="btn" @click="generate">Generate</button>
            </div>
        </div>
    </div>
</template>

<script>
String.prototype.replaceAt = function (idx, val) {
    return this.substr(0, idx) + val + this.substr(idx + val.length);
}

String.prototype.maxMatch = function (other) {
    return false;
}

export default {
    data() {
        return {
            currentIdx: 0,
            currentSentence: '',
            done: false,
            sentences: [],
            labels: [],
            errMsg: '',
            err: false,
        };
    },

    async mounted() {
        try {
            let response = await fetch('/text.txt');
            let textBuffer = await response.text();
            let text = '';
            for(let i=0; i<textBuffer.length; i++) {
                text += textBuffer[i];
            }

            let len = text.length;
            for(let i=len-1; i>=0; i--) {
                if (text[i] == ',') {
                    text = text.replaceAt(i, ']');
                    break;
                }
            }

            text = "[" + text;
            let sentences = JSON.parse(text);
            sentences = [...new Set(sentences)];
            this.sentences = [];

            this.sentences = sentences;
            /*
            for (let i=0; i<sentences.length; i++) {
                let shouldAdd = true;
                for (let j=0; j<this.sentences.length; j++) {
                    if (this.sentences[j].maxMatch(sentences[i])) {
                        shouldAdd = false;
                        break;
                    }
                }

                if (shouldAdd) {
                    this.sentences.push(sentences[i]);
                }
            }
            */

            this.currentSentence = this.sentences[0];
        } catch(err) {
            this.err = true;
            this.errMsg = err.message;
        }
    },

    methods: {
        mark(score) {
            this.labels.push({
                text: this.currentSentence,
                score,
            });
            this.currentIdx++;
            if(this.currentIdx >= this.sentences.length) {
                this.done = true;
                return;
            }
            this.currentSentence = this.sentences[this.currentIdx];
        },

        showInNewWindow(text) {
            let win = window.open();
            win.document.body.innerHTML = text;
        },

        generate() {
            let json = JSON.stringify(this.labels);
            let text = json.substr(1);
            text = text.replaceAt(text.length-1, ',');
            this.showInNewWindow(text);
        }
    }
}
</script>

<style lang="scss" scoped>

.full-window {
    height: 100%;
    width: 100%;
}

.btm-btns {
    position: fixed;
    width: 100%;
    bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
</style>
