<template>
    <div id="app">
        <Label />
    </div>
</template>

<script>
import Label from './components/Label.vue'

export default {
    name: 'app',
    components: {
        Label
    }
}
</script>

<style lang="scss">
#app {
        height: 100vh;
        width: 100vw;
}
    @import "~bootstrap/scss/bootstrap";
</style>
